body {
    background-image: url(/fondonegro.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1{
    text-align: center;
    color: white;
    font: bold;
  }
  #store-container {
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  #store-container .item {
    border: solid 1px rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
  }
  
  #shopping-cart-container {
    color: white;
    background-color: rgba(100, 0, 0, 0.4);
    position: absolute;
    right: 0;
    width: 300px;
    border: solid 1px rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
  }
  
  
  
  .hide {
    display: none;
  }
  
  .item .title {
    font-weight: bold;
  }
  .item .price {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  .item div {
    padding: 5px 0;
  }
  .item{
    background-color: rgba(100, 0, 0, 0.4);
  }
  
  .total {
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
  }
  button {
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
  }

  button:hover{
    transform: scale(1.1);
    transition: 0.5s;
  }
  
  